---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<!-- Preview -->
	<section id="preview">
		<h2>Preview</h2>
		<p>
			Sed ultricies dolor non ante vulputate hendrerit. Vivamus sit amet suscipit sapien. Nulla
			iaculis eros a elit pharetra egestas.
		</p>
	</section>
	<!-- ./ Preview -->


</Layout>

<style>

</style>
