---
import { ViewTransitions } from "astro:transitions";

import Nav from "../components/Nav.astro";

export interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { title, description, keywords}: Props = Astro.props;
---

<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<meta name="description" content={description}>
	<meta name="keywords" content={keywords}>
	<title>{title}</title>
</head>
<body>

	<!-- Header -->
	<header class="container">
		<hgroup>
			<h1>Pico</h1>
			<p>A pure HTML example, without dependencies.</p>
		</hgroup>
	</header>
	<!-- ./ Header -->


	<main class="container">
		<slot />
	</main>
</body>
</html>


<style>
	@import "/src/styles/global.css";
	@import "@picocss/pico";
	@import "animate.css";



</style>
